In [261]:
df=spark.read.csv("/home/ubuntu/Downloads/Take.csv", header=True, sep=";")

In [262]:
from pyspark.sql import functions as F
import matplotlib.pyplot as plt
import pandas

In [263]:
df.show()

+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+
| MessageSequentialID|         StorageDate|        FromIdentity|          ToIdentity|             Message|MessageOriginator|
+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+
|               73719|2018-02-02 13:51:...|1454345038013757@...|carnabelo@msging.net|             comecar|             User|
|               73722|2018-02-02 13:52:...|carnabelo@msging.net|1454345038013757@...|E ai Alan Pierre,...|              Bot|
|               73723|2018-02-02 13:52:...|carnabelo@msging.net|1454345038013757@...|Se vocÃª nÃ£o sabe ...|              Bot|
|               73726|2018-02-02 13:52:...|1454345038013757@...|carnabelo@msging.net|               beber|             User|
|               73729|2018-02-02 13:52:...|carnabelo@msging.net|1454345038013757@...|ðŸŽµ VocÃª pensa que...|             null|
|CachaÃ§a nÃ£o Ã© Ã¡gu...|                null|                null|                null|                null|             null|
|                ;Bot|                null|                null|                null|                null|             null|
|               73730|2018-02-02 13:52:...|carnabelo@msging.net|1454345038013757@...|Beber pode? Claro...|              Bot|
|               73732|2018-02-02 13:52:...|carnabelo@msging.net|1454345038013757@...|Tenho essas opÃ§Ãµe...|             null|
|                ;Bot|                null|                null|                null|                null|             null|
|               73735|2018-02-02 13:52:...|1454345038013757@...|carnabelo@msging.net|          MenuAgenda|             User|
|               73738|2018-02-02 13:52:...|1454345038013757@...|carnabelo@msging.net|          10/02/2018|             User|
|               73740|2018-02-02 13:52:...|carnabelo@msging.net|1454345038013757@...|DÃª uma olhada em ...|              Bot|
|               73795|2018-02-02 13:52:...|carnabelo@msging.net|1454345038013757@...|Olha os blocos qu...|              Bot|
|               73802|2018-02-02 13:53:...|1454345038013757@...|carnabelo@msging.net|     qual o seu nome|             User|
|               73804|2018-02-02 13:53:...|carnabelo@msging.net|1454345038013757@...|Meu nome Ã© BonifÃ¡...|              Bot|
|               73806|2018-02-02 13:53:...|carnabelo@msging.net|1454345038013757@...|Mas pra vc eu sou...|              Bot|
|               73810|2018-02-02 13:53:...|1454345038013757@...|carnabelo@msging.net|          quero sexo|             User|
|               73812|2018-02-02 13:53:...|carnabelo@msging.net|1454345038013757@...|Vai alongar a fol...|             null|
|                ;Bot|                null|                null|                null|                null|             null|
+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+
only showing top 20 rows

In [264]:
df.count()

40372

In [265]:
df.printSchema()

root
 |-- MessageSequentialID: string (nullable = true)
 |-- StorageDate: string (nullable = true)
 |-- FromIdentity: string (nullable = true)
 |-- ToIdentity: string (nullable = true)
 |-- Message: string (nullable = true)
 |-- MessageOriginator: string (nullable = true)

In [274]:
df.groupBy('Message','MessageOriginator') \
    .agg(F.count('Message').alias('Total')) \
    .orderBy('Total', ascending=False) \
    .toPandas().head(5)

                                             Message MessageOriginator  Total
0            Olha os blocos que encontrei para vc ðŸ‘€                Bot   1358
1                          A cidade toda vai bombar!               Bot   1351
2                            Em qual bloco vc vai? ðŸ‘‡               Bot   1136
3  Se vocÃª nÃ£o sabe onde ir, posso te ajudar com ...               Bot   1100
4  Tenho essas opÃ§Ãµes para te ajudar a encontrar ...              None   1024

In [273]:
df1 = df.filter((df['MessageOriginator'] == 'Bot'))

df1.count()

17713

In [283]:
df2 = df.filter((df['MessageOriginator'] == 'User'))
df3 = df2.filter((df['Message'] != 'ðŸ“… Agenda'))

df3.groupBy('Message','MessageOriginator') \
    .agg(F.count('Message').alias('Total')) \
    .orderBy('Total', ascending=False) \
    .toPandas().head(5)

      Message MessageOriginator  Total
0    MenuHoje              User    892
1  MenuAgenda              User    716
2     ComeÃ§ar              User    548
3  10/02/2018              User    354
4      dancar              User    340